
@{
    ViewBag.Title = "Login";
}
<link href="@Url.Content("~/Content/Template/login.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Template/style.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/fonts/material-icon/css/material-design-iconic-font.min.css")">
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Content/Template/signin-image.jpg" alt="sing in image"></figure>
                @Html.ActionLink("Create an account", "Register", "Register")

            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="Username" id="Username" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="Password" id="Password" placeholder="Password" />
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>







<!--

<div class="loginbox">

    <img src="~/Content/Template/loginpic2.png" class="avatar">
    <form method="post" style="position: absolute;top: 50%;left: 80%; right: 20%;">
        <label for="Username">Username:</label>
        <input type="text" name="Username" placeholder="Username"><br />
        <label for="Password">Password</label>
        <input type="text" name="Password" placeholder="Password"><br />
        <button style="background-color:palegreen ;width:180px ;" type="submit" name="Login">Login</button><br />
        <a>Forget Password</a><br />
        <br />
        <button style="background-color:palegreen; width:180px ;" type="button" name="RegisterfromLogin">Register</button><br />
        <label for="Username">@ViewBag.message</label>
    </form>

</div>
<style>
    body {
        background-color: coral;
        background-image: url("https://media.warriortrading.com/2016/12/Blog_BID_PRICE.jpg");
    }
</style>
-->
