
@{
    /**/

    ViewBag.Title = "Bidding";
}


@using Le_Vendue.Models
@using Le_Vendue.Controllers

@Styles.Render("~/Content/Template/bidding.css")"

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/style.css">

<title>Auction Le Vendue</title>






<link href="@Url.Content("~/Content/Template/login.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Template/style.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/fonts/material-icon/css/material-design-iconic-font.min.css")">
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="https://watch-insider.com/wp-content/uploads/2014/10/PP_5175R_AMB_RECTO_PRESS_RVB.jpg" alt="Patek Philippe"></figure>

            </div>




            @{DatabaseController databaseController = new DatabaseController(); var v = DatabaseController.GetHighbid();


            }
            <input type="hidden" id="HighestbidPrice" name=" HighestbidPrice" value="@v" readonly><br>
            @{var v1 = DatabaseController.GetAuction();}
            <input type="hidden" id="Product Name" name="ProductName" value="@v1.ProductName" readonly>
            <input type="hidden" id="Product Details" name="ProductDetails" value="@v1.ProductDetails" readonly />
            <input type="hidden" id="ClosingTime" name="ClosingTime" value="@v1.ClosingTime" readonly />
            <div class="signin-form">
                <h2 class="form-title">Bid</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="Product Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" id="Product Name" name="ProductName" value="@v1.ProductName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="Product Details"><i class="zmdi zmdi-lock"></i></label>
                        <input type="text" id="Product Details" name="ProductDetails" value="@v1.ProductDetails" readonly />
                    </div>

                    <div class="form-group">
                        <label for="ClosingTime"><i class="zmdi zmdi-lock"></i></label>
                        <input type="text" id="ClosingTime" name="ClosingTime" value="@v1.ClosingTime" readonly />
                    </div>





                    <div class="form-group">
                        <label for="HighestbidPrice"><i class="zmdi zmdi-lock"></i></label><br>

                        <input type="text" id="HighestbidPrice" name=" HighestbidPrice" value="@v" readonly><br>
                    </div>
                    <div class="form-group">
                        <label for=" Bid"><i class="zmdi zmdi-lock"></i></label><br>
                        <input type="text" id="Bid" name="BidValue" placeholder="Bid"><br>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>





                </form>

            </div>
        </div>
    </div>
</section>













<!--
    <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p class="head-text">Le Vendue</p>
            </div>
            <div class="col-md-4">

                <form>
                    <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    <input type="text" placeholder="" name="search2" class="search-bar">

                </form>
            </div>



            <div class="col-md-3">
                <div class="">

                    <div class="topnav">

                        <div id="myLinks2">

                            <a href="#contact">MyDashBoard</a>
                            <a href="#about">Edit User info</a>
                            <a href="#about">Change Email</a>
                            <a href="#about">Change Password</a>
                            <a href="#about">Logout</a>
                        </div>
                        <a href="javascript:void(1);" class="icon" onclick="myFunction2()">
                            <p>Ming Xionai</p>
                        </a>
                    </div>


                </div>
            </div>





            <div class="col-md-3">
                <div class="">

                    <div class="topnav">

                        <div id="myLinks">

                            <a href="#contact">About Us</a>
                            <a href="#about">Contact Us</a>
                        </div>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>


                </div>
            </div>

        </div>

    </div>
</header>



<section>
    <div class="container">

        <div class="row">


            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/Template//watch.jpg" class="img-fluid image-margin">

                </div>
            </div>
            <!---
            <div class="col-sm-6" style="{width:5px;height:5px;}">
                <div class="card">
                    <img src="~/Image/1.jpg" />
                    <p>gg</p>
                </div>
            </div>
            -->
<!--
            <div class="col-sm-6" style=" {width:5px;height:5px;}">
                <div class="card">

                    <div class="row form-1">
                        <div class="col-md-5">
                            <form method="post">
                                <div class="container">
                                    <form method="post">

                                        <label for="Product Name">Product Name: </label><br>
                                        <input type="text" id="Product Name" name="ProductName" value="Patek Philip Timepiece" readonly><br>
                                        <label for="Product Details">Product Details</label><br>
                                        <input type="text" id="Product Details" name="ProductDetails" value="It's an antique" readonly value="" style="width: 240px;height: 100px;"><br>
                                        <label for="ClosingTime"> ClosingTime</label><br>
                                        <input type="text" id="ClosingTime" name="ClosingTime" value="20-6-2020 02:12" readonly><br>

                                        <label for="HighestbidPrice">HighestbidPrice:</label><br>

                                        <label for=" Bid"> Bid</label><br>
                                        <input type="text" id="Bid" name="BidValue" placeholder="Bid"><br>
                                        <button style="color:aqua" type="submit" name="Submit">Submit</button><br />
                                    </form>

                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>




            <div class="row frm-2">
                <div class="col-md-12">
                    <textarea name="comment" form="usrform" style="margin-bottom: 22px; width: 100%;height: 200px;" disabled>BidS</textarea>
                </div>
            </div>

        </div>
</section>


    -->
<!--

                <form method="post">
                    <div class="container">
                        <form method="post">
                            <label for="Product Name">Product Name: </label><br>
                            <input type="text" id="Product Name" name="Product Name" placeholder="Product Name"><br>
                            <label for="Product Details">Product Details</label><br>
                            <input type="text" id="Product Details" name="Password" placeholder="Product Details"><br>
                            <label for="ClosingTime"> ClosingTime</label><br>
                            <input type="text" id="ClosingTime" name="ClosingTime" placeholder="ClosingTime Details"><br>

                            <label for="HighestbidPrice">HighestbidPrice:</label><br>
                            <input type="text" id="HighestbidPrice" name=" HighestbidPrice" placeholder=" HighestbidPrice"><br>
                            <label for=" Bid"> Bid</label><br>
                            <input type="text" id="Bid" name="Bid" placeholder="Bid"><br>


                        </form>
                        <button style="color:aqua" type="submit" name="Register">Register</button><br />
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
                    -->
