@{
    ViewBag.Title = "Home Page";
}
@using Le_Vendue.Models
@using Le_Vendue.Controllers
@Styles.Render("~/Content/Template/Index.css")"

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/style.css">

<title>Auction Home</title>

<body>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p class="head-text">AUCTION</p>
                </div>
                <div class="col-md-5">

                    <form>
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                        <input type="text" placeholder="" name="search2" class="search-bar">


                    </form>
                </div>
                <div class="col-md-1">
                    <p><input class="rgstr-btn" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Register") + "'");" /></p>
                    <!--<button class="rgstr-btn"><b>Register</b></button>-->
                </div>
                <div class="col-md-1">
                    <p><input class="log-btn" " type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Login") + "'");" /></p>

                </div>
                <div class="col-md-3">
                    <div class="">

                        <div class="topnav">

                            <div id="myLinks">

                                <a href="#contact">About Us</a>
                                <a href="#about">Contact Us</a>
                            </div>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </header>




    <section class="main">
        <div class="container image-section">


            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/Template/shoe.jpg" class="banner-img">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <p>Hot Items</p>
                </div>
                <div class="col-md-6">
                    <p style="text-align: right;">Show more</p>
                </div>
            </div>


            <div class="row gallery">
                <div class="col-md  image-border">

                    <img src="~/Content/Template/watch.jpg" style="width: 100%;">
                    <p style="text-align: center;margin-top: 15px;">Patek Philip Choronagraph</p>
                    <p style="text-align: center;">$25000</p>
                    <p style="text-align: center;">Time</p>
                    <p style="text-align: center;margin-top: 15px;"><input type="button" value="Bid" onclick="@(" window.location.href='" + @Url.Action("Bidding", "Bidding") + "'");" /></p>
                </div>
                <div class="col-md offset-md-1 image-border">
                    <img src="~/Content/Template/shoe-1.jpg" style="width: 100%;">
                    <p style="text-align: center;margin-top: 15px;">Saint Laurent Man Boots</p>
                    <p style="text-align: center;">$1100</p>
                    <p style="text-align: center;">Time</p>
                    <p style="text-align: center;margin-top: 15px;"><input type="button" value="Bid" onclick="@("window.location.href='" + @Url.Action("Bidding", "Bidding") + "'");" /></p>

                </div>
                <div class="col-md offset-md-1 image-border">
                    <img src="~/Content/Template/bag.jpg" style="width: 100%;">
                    <p style="text-align: center;margin-top: 15px;">Louis Vuton Handbag</p>
                    <p style="text-align: center;">$695</p>
                    <p style="text-align: center;">Time</p>
                    <p style="text-align: center;margin-top: 15px;"><input type="button" value="Bid" onclick="@("window.location.href='" + @Url.Action("Bidding", "Bidding") + "'");" /></p>
                </div>
            </div>





            <div class="row ">
                <div class="col-md-6">
                    <p>Recommended</p>
                </div>
                <div class="col-md-6">
                    <p style="text-align: right;">Show more</p>
                </div>
            </div>


            <div class="row gallery">
                <div class="col-md  image-border">
                    <img src="~/Content/Template/watch.jpg" style="width: 100%;">
                    <p style="text-align: center;margin-top: 15px;">Patek Philip Choronagraph</p>
                    <p style="text-align: center;">$25000</p>
                    <p style="text-align: center;">Time</p>
                </div>
                <div class="col-md offset-md-1 image-border">
                    <img src="~/Content/Template/shoe-1.jpg" style="width: 100%;">
                    <p style="text-align: center;margin-top: 15px;">Saint Laurent Man Boots</p>
                    <p style="text-align: center;">$1100</p>
                    <p style="text-align: center;">Time</p>
                </div>
                <div class="col-md offset-md-1 image-border">
                    <img src="~/Content/Template/bag.jpg" style="width: 100%;">
                    <p style="text-align: center;margin-top: 15px;">Louis Vuton Handbag</p>
                    <p style="text-align: center;">$695</p>
                    <p style="text-align: center;">Time</p>
                </div>
            </div>



        </div>
    </section>




    <footer class="footer">
        <div class="container">
            <div class="row footer-border">
                <div class="col-md-2">
                    <img src="~/Content/Template/mobile.jpg" class="img-fluid">
                </div>
                <div class="col-md-3 footer-margin">
                    <p>Shop With Confidence</p>
                    <p>Since 2002,LiveAuctioneers has made exceptional items available for sale purchase in secure online auctions.</p>
                </div>
                <div class="col-md-5 footer-margin">
                    <img src="~/Content/Template/logo.jpg" class="img-fluid">
                </div>
                <div class="col-md-2 footer-margin">
                    <p>Company</p>
                    <button class="footer-btn">About</button>
                </div>

            </div>

        </div>
    </footer>
















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

</body>

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



@for (int i = 0; i < 3; i++)
{
    <p>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="~/Image/1.jpg" />
    <p>gg</p>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="~/Image/1.jpg" />
            <p>gg</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="~/Image/1.jpg" />
            <p>gg</p>
        </div>
    </div>
    </div>
    </p>
}



<div class="col-md-4">
    <h2>Get more libraries</h2>
    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Web Hosting</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
</div>
    </div>
    -->
